.App {
  width: 768px;
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px solid black;
  padding: 1rem;

  // 앞서 한 Button.css의 & + &과 같다. 다음 버튼에 스타일링이 적용됨
  .buttons + .buttons {
    margin-top: 1rem;
  }
}
